<div class="row">
<div class="container1">
  <div 
  cdkDropList 
  #columnList1="cdkDropList" 
  [cdkDropListConnectedTo]="[columnList2,columnList3]" 
  [cdkDropListData]="ColumnList1"
  class="column-list" 
  (cdkDropListDropped)="drop($event)">
  <div class="column-block1" *ngFor="let ColumnList of ColumnList1" cdkDrag >
    <mat-card style="background-color:rgb(207, 207, 236)">
      <mat-card-header>
        <mat-card-title>{{ColumnList.id}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       {{ColumnList.text}}
      </mat-card-content>
    </mat-card>
  </div>
 </div>
</div>




<div class="container2">
  <div 
  cdkDropList 
  #columnList2="cdkDropList" 
  [cdkDropListConnectedTo]="[columnList1,columnList3]"
  [cdkDropListData]="ColumnList2" 
  class="column-list" 
  (cdkDropListDropped)="drop($event)">
  <div class="column-block" style="height: 300px;" *ngFor="let eachElem of ColumnList2" cdkDrag>
   
    <mat-card id = "matcard">
      <mat-card-header>
        <mat-card-title id="mattitle">{{eachElem.id}}</mat-card-title>
      </mat-card-header>
      <mat-card-content id ="matcontent">
       {{eachElem.text}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>




<div class="container3">
  <div 
  cdkDropList 
  #columnList3="cdkDropList" 
  [cdkDropListConnectedTo]="[columnList1,columnList2]"
  [cdkDropListData]="ColumnList3" 
  class="column-list" 
  (cdkDropListDropped)="drop($event)">
  <div class="column-block" *ngFor="let eachElem of ColumnList3" cdkDrag>

    <mat-card id = "matcard2">
      <mat-card-header>
        <mat-card-title id="mattitle2">{{eachElem.id}}</mat-card-title>
      </mat-card-header>
      <mat-card-content id ="matcontent2">
       {{eachElem.text}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>